:root { 
--gray_50_01:#f8f9fa; 
--red_700:#d03329; 
--blue_gray_50:#eaecf0; 
--blue_A700:#0061ff; 
--blue_A200:#4d90ff; 
--green_600:#349765; 
--blue_A700_01:#0a58ff; 
--gray_50:#f9fbff; 
--gray_300_99:#e4e4e499; 
--black_900_01:#130e00; 
--black_900:#000000; 
--blue_gray_700:#424c5d; 
--blue_gray_900_01:#24363c; 
--blue_A700_7e:#0061ff7e; 
--blue_gray_900:#262b35; 
--black_900_02:#090b0d; 
--gray_700_11:#55555511; 
--blue_gray_200:#bac1ce; 
--gray_400:#b3b3b3; 
--blue_900:#003995; 
--blue_gray_100:#d6dae2; 
--blue_gray_400:#74839d; 
--blue_gray_300:#9ea8ba; 
--amber_500:#feb909; 
--blue_800:#0051d5; 
--red_A200:#fe555d; 
--blue_gray_600:#5f6c86; 
--gray_900:#0d1624; 
--gray_900_01:#151522; 
--black_900_0c:#0000000c; 
--gray_300:#e0e0e0; 
--gray_800_2b:#4545452b; 
--white_A700:#ffffff; 
}